@using ComunaHealth.Modelos
@model ComunaHealth.Pages.Citas.MenuCitasModel

@inject ComunaDbContext dbContext
@inject UserManager<ModeloUsuario> _userManager

@{
    //Obtenemos el modelo del usuario actual.
    var usuario = (ModeloUsuarioNoAdministrador) await _userManager.GetUserAsync(User);

    //Verificamos si el usuario actual tiene el rol de paciente o medico. La muestra y gestion de citas dependera del rol del usuario.
    if (User.IsInRole(Constantes.NombreRolPaciente))
    {
        var citas = ((ModeloPaciente)usuario).Citas;

        <div class="container text-left">

            <div class="row bg-primary border-success">

                <label class="col-3">Especializacion</label>
                <label class="col-3">Medico</label>
                <label class="col-3">Fecha</label>

            </div>

            @foreach (var cita in citas)
            {
                @if (cita.EstadoCita == @Model.FiltroEstadoCitas)
                {
                    <div class="row">

                        <label class="col-3">@cita.EspecializacionCita</label>
                        <label class="col-3">@cita.Medico.UserName</label>
                        <label class="col-3">@cita.Fecha</label>

                        <input class="col-3" class="form-text btn btn-primary" type="button" value="Mas" onclick="MostrarDescripcionCita(@cita.Id)" />

                    </div>

                    <div class="row bg-primary border-success" id=@cita.Id>
                        <label class="col-3">Descripcion</label>
                        <label class="col-12">@cita.Descripcion</label>
                    </div>
                }
            }

        </div>
    }
    else if (User.IsInRole(Constantes.NombreRolMedico))
    {
        var citas = ((ModeloMedico)usuario).Citas;


        <div class="form-inline">

            <div class="container">

                <div class="row bg-primary border-success">

                    <label class="col-3">Especializacion</label>
                    <label class="col-3">Paciente</label>
                    <label class="col-3">Fecha</label>

                </div>

                @foreach (var cita in citas)
                {
                    @if (cita.EstadoCita == @Model.FiltroEstadoCitas)
                    {
                        <div class="row">

                            <label class="col-3">@cita.EspecializacionCita</label>
                            <label class="col-3">@cita.Paciente.UserName</label>
                            <label class="col-3">@cita.Fecha</label>

                            <input class="col-3 form-text btn btn-primary" type="button" value="Mas" onclick="MostrarDescripcionCita(@cita.Id)"/>

                        </div>

                        <div class="row bg-primary border-success" id=@cita.Id>
                            <label class="col-3">Descripcion</label>
                            <label class="col-12">@cita.Descripcion</label>
                        </div>
                    }
                }

            </div>

            <div class="mr-5">
                <a class="form-text btn btn-primary" asp-page="CreacionCita">Crear Cita</a>
            </div>

        </div>


    }
}

<script type="text/javascript">

    @*Metodo llamado cuando el boton mostrar mas en la lista de citas es seleccionado*@
    function MostrarDescripcionCita(descripcion)
    {
        descripcion.classList.toggle("collapse");
    }

</script>