@using ComunaHealth.Modelos
@model ComunaHealth.Pages.Citas.MenuCitasModel

@inject ComunaDbContext dbContext
@inject UserManager<ModeloUsuario> _userManager

@{
    //Obtenemos el modelo del usuario actual.
    var usuario = (ModeloUsuarioNoAdministrador)await _userManager.GetUserAsync(User);

    //Verificamos si el usuario actual tiene el rol de paciente o medico. La muestra y gestion de citas dependera del rol del usuario.
    if (User.IsInRole(Constantes.NombreRolPaciente))
    {
        var citas = ((ModeloPaciente)usuario).Citas;

        <div class="d-flex flex-row h-75 w-75 position-absolute">

            <div class="ml-5 p-3 overflow-auto border border-warning rounded">

                <div class="pb-3">
                    <h4 class="text-left">Citas @Model.FiltroEstadoCitas.ToString():</h4>
                </div>

                @*<div class="pl-4 pr-4 d-flex flex-row border border-primary rounded-pill">

                        <div class="d-flex flex-column">
                            <label class="text-left">Paciente: Juancho Juanches</label>
                            <label class="text-left">Especializacion: @EEspecializacion.Ginecologo</label>
                            <label class="text-left">Fecha: @DateTimeOffset.Now</label>
                        </div>

                        <div class="pl-3 mr-2 mt-4">
                            <a class="form-text btn btn-primary btn-sm" asp-page="InformacionCita">Info</a>
                            <a class="form-text btn btn-primary btn-sm" asp-page="EditarCita">Editar</a>
                        </div>

                    </div>*@

                @foreach (var cita in citas)
                {
                    <div class="pl-4 pr-4 d-flex flex-row border border-primary rounded-pill">

                        <div class="d-flex flex-column">
                            <label class="text-left">Paciente: @cita.Paciente.UserName</label>
                            <label class="text-left">Especializacion: @cita.EspecializacionCita</label>
                            <label class="text-left">Fecha: @cita.Fecha</label>
                        </div>

                        <div class="pl-3 mr-2 mt-4">
                            <a class="form-text btn btn-primary btn-sm" asp-page="InformacionCita">Info</a>
                        </div>

                    </div>
                }

            </div>

        </div>
    }
    else if (User.IsInRole(Constantes.NombreRolMedico))
    {
        var citas = ((ModeloMedico)usuario).Citas;


        <div class="d-flex flex-row h-75 w-75 position-absolute">

            <div class="ml-5 p-3 overflow-auto border border-warning rounded">

                <div class="pb-3">
                    <h4 class="text-left">Citas @Model.FiltroEstadoCitas.ToString():</h4>
                </div>

                @*<div class="pl-4 pr-4 d-flex flex-row border border-primary rounded-pill">

                        <div class="d-flex flex-column">
                            <label class="text-left">Paciente: Juancho Juanches</label>
                            <label class="text-left">Especializacion: @EEspecializacion.Ginecologo</label>
                            <label class="text-left">Fecha: @DateTimeOffset.Now</label>
                        </div>

                        <div class="pl-3 mr-2 mt-4">
                            <a class="form-text btn btn-primary btn-sm" asp-page="InformacionCita">Info</a>
                            <a class="form-text btn btn-primary btn-sm" asp-page="EditarCita">Editar</a>
                        </div>

                    </div>*@

                @foreach (var cita in citas)
                {
                    <div class="pl-4 pr-4 d-flex flex-row border border-primary rounded-pill">

                        <div class="d-flex flex-column">
                            <label class="text-left">Paciente: @cita.Paciente.UserName</label>
                            <label class="text-left">Especializacion: @cita.EspecializacionCita</label>
                            <label class="text-left">Fecha: @cita.Fecha</label>
                        </div>

                        <div class="pl-3 mr-2 mt-4">
                            <a class="form-text btn btn-primary btn-sm" asp-page="InformacionCita">Info</a>
                            <a class="form-text btn btn-primary btn-sm" asp-page="EditarCita">Editar</a>
                        </div>

                    </div>
                }

            </div>
            
            <!--Partial view de muestra de informacion de la cita-->
            <div class="ml-5" id="informacionCita">
                <partial name="_InformacionCita" />
            </div>
            
            <!--Boton para acceder a la pagina de creacion de citas-->
            <div class="ml-5">
                <a class="form-text btn btn-primary" asp-page="CreacionCita">Crear Cita</a>
            </div>

        </div>

    }
}
