@using ComunaHealth.Modelos
@model ComunaHealth.Pages.Citas.MenuCitasModel

@inject UserManager<ModeloUsuario> _userManager

@{
    <div class="container p-3 border border-warning rounded">

        <div class="pl-4 pr-4 d-flex flex-row border border-primary rounded-pill">

            <div class="d-flex flex-column">
                <label class="text-left">Medico: @Model.CitaSeleccionada.Medico.UserName</label>
                <label class="text-left">Paciente: @Model.CitaSeleccionada.Paciente.UserName</label>
                <label class="text-left">Especializacion: @Model.CitaSeleccionada.EspecializacionCita</label>
                <label class="text-left">Fecha: @Model.CitaSeleccionada.Fecha</label>
                <label class="text-left">Duracion: @Model.CitaSeleccionada.Duracion</label>
                <label class="text-left">Descripcion: @Model.CitaSeleccionada.Descripcion</label>
            </div>

            <div class="float-right">
                <a class="form-text btn btn-primary" asp-page="SolicitarCambioDeHorario">Solicitar cambio de horario</a>
            </div>

        </div>

    </div>
}
