@model ComunaHealth.Pages.BuscadorModel

@*Form busqueda medico*@
<form method="post"
      class="d-flex flex-column justify-content-start align-top w-75"
      id="formBuscar">

    @*Nombre medico buscado*@
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input type="text" class="form-text w-100" asp-for="Nombre" />
    </div>

    @*DNI del medico*@
    <div class="form-group">
        <label asp-for="DNI"></label>
        <input type="text" class="form-text w-100" asp-for="DNI" />
    </div>

    @*Municipio en el que reside el medico*@
    <div class="form-group">
        <label asp-for="RegionesSanitarias"></label>
        <select multiple="multiple" title="Nada seleccionado"class="selectpicker w-100" asp-items="@EnumHelpers.ToSelectListItemList(EnumHelpers.ObtenerValoresFlag<ERegionSanitariaBSAS>(ERegionSanitariaBSAS.NINGUNA))" asp-for="RegionesSanitarias"></select>
    </div>

    @*Boton buscar*@
    <div class="form-group">
        <input type="submit" class="btn btn-light" value="Buscar" onclick="Buscar(event, formBuscar, 'BuscarAdministradores');">
    </div>
</form>

<div class="table border-bottom">

    @*Listamos los administradores encontrados*@
    @foreach (var admin in Model.AdministradoresEncontrados)
    {
        <div class="row @EnumHelpers.ObtenerColorTextoParaEstadoCuenta(admin.EstadoCuenta)">

            <div class="col-2">@admin.UserName</div>
            <div class="col-4">@admin.RegionSanitaria</div>

            @*Boton eliminar*@
            <button class="btn btn-light" title="Deshabilitar" onclick="ActualizarDatosPopupConfirmacion('¿Desea deshabilitar a este administrador?', @admin.Id, 'Buscador?handler=EliminarAdministrador'); toggleDivConfirmacion();">
                <i class="fas fa-user-minus"></i>
            </button>

            @*Boton rehabilitar*@
            <button class="btn btn-light" title="Rehabilitar" onclick="ActualizarDatosPopupConfirmacion('¿Desea rehabilitar a este administrador?', @admin.Id, 'Buscador?handler=RehabilitarAdministrador'); toggleDivConfirmacion();">
                <i class="fas fa-redo-alt"></i>
            </button>

        </div>
    }

</div>

<partial name="Shared/_Popupconfirmacion"/>